[submodule "extern/reaper-sdk"]
	path = extern/reaper-sdk
	url = https://github.com/justinfrankel/reaper-sdk.git
[submodule "extern/WDL"]
    	path = extern/WDL
    	url = https://github.com/justinfrankel/WDL.git
[submodule "extern/LibAAF"]
	path = extern/LibAAF
	url = https://github.com/agfline/LibAAF.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git


