#ifdef _WIN32
#include <windows.h>
#endif
#include "resource.h"

IDD_AAF_PREFS DIALOGEX 0, 0, 300, 66
STYLE WS_CHILD
CAPTION "AAF Import Prefs"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "AAF Import",               IDC_STATIC,           2,  4, 296,  58
    LTEXT    "Show import Log:",         IDC_STATIC,          13, 20,  68,  10
    COMBOBOX                             IDC_COMBO_VERBOSITY, 74, 18, 205,  50,
                                         CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CHECKBOX "Zoom to project after import", IDC_CHECK_ZOOM,  13, 34, 200,  12
    LTEXT    "",                          IDC_VERSION_LABEL,    8, 54,  80,   8
END

IDD_AAF_LOG_DIALOG DIALOGEX 0, 0, 308, 300
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION "AAF Import Log"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT      "Ready",   IDC_LOG_LABEL,  4,   4, 300,   8
    CONTROL         "",IDC_LOG_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_VSCROLL | WS_TABSTOP,4,16,300,260
    CHECKBOX    "Info",     IDC_LOGFILTER_INFO,  4,  281, 50, 12
    CHECKBOX    "Warnings", IDC_LOGFILTER_WARN,  58, 281, 66, 12
    CHECKBOX    "Errors",   IDC_LOGFILTER_ERROR, 128,281, 58, 12
    PUSHBUTTON "Copy",    IDC_COPY_BTN,       196, 280,  58,  14
    PUSHBUTTON "Close",   IDC_CLOSE_BTN,      258, 280,  46,  14
END
