#include "resource.h"

IDD_AAF_PREFS DIALOGEX 0, 0, 300, 42
STYLE WS_CHILD
CAPTION "AAF Import Prefs"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "AAF Import",       IDC_STATIC,           4,  4, 292, 32
    LTEXT    "Log verbosity:",   IDC_STATIC,          13, 20,  68, 10
    COMBOBOX                     IDC_COMBO_VERBOSITY,  74, 18, 205, 50,
                                 CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_AAF_PROGRESS DIALOGEX 0, 0, 308, 300
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
CAPTION "AAF Import Log"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT      "Ready",   IDC_PROGRESS_LABEL,  4,   4, 300,   8
    CONTROL         "",IDC_LOG_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_VSCROLL | WS_TABSTOP,4,16,300,260
    PUSHBUTTON "Close",   IDC_CLOSE_BTN,      258, 280,  46,  14
END